matplotlib
pandas
seaborn
papermill
ipykernel
jupyter
jupytext
folium
plotly
plotnine
psutil
arviz
xlrd
altair
altair_saver
jinja2
selenium
geopandas
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
